{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .main{
            display: grid;
            grid-template-columns: 1fr 3fr;

        }
    </style>

    <div class="main">
        <!-- Side bar Container begins -->
        <div class="side-bar">
            <h2>This is a place for a side</h2>
        </div>
        <!-- Side bar Container ends -->

        <!-- Patient list begins -->
        <div class="patient-list" style="border: 1px solid blue; height:200%; width: 100%;">
            <center><h3>PatientS List</h3></center>
                <div class="container" style="margin-left: 100px;">
                    <table bgcolor="black">
                        <tr bgcolor="grey" align="center" width="900px">
                            <th width="100px">Id</th>
                            <th width="300px">Name</th>
                            <th width="100px">Phone</th>
                            <th width="100px">Sex</th>
                            <th width="150px">Date of Birth</th>
                            <th width="100px">Age</th>
                            <th width="100px">Blood Group</th>
                            <th width="150px">Options</th>
                        </tr>
                        {% for m in addpatient %}
                       

                        <tr bgcolor="lightgrey" align="center" style="font-size: 20px;">
                            <td>#</td>
                            <td>{{m.username}}</td>
                            <td>{{m.phone}}</td>
                            <td>{{m.gender}}</td>
                            <td>{{m.date_of_birth}}</td>
                            <td>{{m.age}}</td>
                            <td>{{m.blood_group}}</td>
                            <td> 
                                <button class="btn-block btn-sm btn-primary">Edit</button>
                                <button class="btn-block btn-sm btn-primary">Delete</button>
                                
                                

                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
        </div>
        <!-- Patient list ends -->
    </div>
    
</body>
</html>